*{
	margin:0;
	padding:0;
}
body{
  text-align: center;
  background-color: red;
}
h1{
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  color: white;
  text-shadow: 5px 5px 5px #222;
}
h3 {
  display: inline-block;
  color : white;
}
button{
  margin: 10px;
}
#surface{
  position: relative;

}
.sketch_square{
	background-color: #CCC;
  /*display: inline-block;
  width: 30px;
  height: 30px;*/
	float: left;
  border: 1px dotted #333;
  margin: 0 0 0 0;
  padding: 0px;
  font-size:0;
}
.blacken{
  background-color: black;
}
